body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a {text-decoration: none;}

/*头部*/
.top {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: black;
}

.top h1 {
    font-size: 40px;
    color: rgb(68, 54, 89);
}

/*导航栏*/
.guide {
    background-color: rgb(67, 15, 75);
    overflow: hidden;
    font-weight: bold;
}

/*导航栏链接*/
.guide a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding: 16px 20px;
}

/*导航条变色*/
.guide a:hover {
    background-color: white;
    color: black;
}

/*内容栏*/
.column {
    float: left;
    height: 800px;
}
   
/* 中间列宽度 */
.column.middle {
    width: 75%;
}

/* 侧栏的宽度 */
.column.side {
    width: 25%;
}

/*文章卡片*/
.card {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

/*图片显示*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item {
    padding: 20px;
    background-color: white;
    margin: 10px;
}
.gallery-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.gallery-item img:hover {
    transform: scale(1.1);
}